@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,800;1,700&family=Quicksand&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.main {
    border-radius: 2px;
    width: 100vw;
}

@media screen and (min-width:768px) {
    .main {
        width: 75%;
    }
}

a {
    position: relative;
    padding: 0;
}

a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    background: #f7aa3c;
    transition: width 0.3s ease;

}

a:hover::after {
    width: 50%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.example img {
    border-radius: 4px;
    height: 300px;
    position: relative;
}

.example .overlay {
    position: absolute;
    top: 80px;
    font-weight: bold;
    text-align: right;
    font-size: 30px;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}